.products__image {
  position: absolute;
  top: -59px;
  right: 39px;
}

.products__image-img {
  transition: all 0.5s ease;
}

.products__item:hover .products__image-img {
  transform: scale(1.1);
}


.products__name {
  font-size: 18px;
  font-family: TavolgaFree, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 26px;
  padding: 109px 0 0 0;
}

.products__number, .products__price {
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding-bottom: 16px;
  margin-left: 20px;
  margin-right: 36px;
  max-width: 90px;
}

.products__btn {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 14px 29px;
  width: 130px;
  height: 50px;
  box-sizing: border-box;
  border: 0;
  position: absolute;
  bottom: 27px;
  right: 21px;
}

.btn {
  border-radius: 30px;
  font-family: GilroyBold, sans-serif;
}
