<div class="products__image">
  <img class="products__image-img" src="assets/images/{{product.image}}" alt="Pink">
</div>
<div class="products__name">
  {{ product.name }}
</div>
<div class="products__number">
  {{product.number | number}}
</div>
<div class="products__price" >
  {{product.price | currency:'RUB' }}
<!--  {{product.price | currency: 'RUB'  }}-->
</div>
<div class="btn products__btn" (click)="addProductToCart()" btnEffects>
  Заказать
</div>
<!--(click)="addToCart(product, orderElement)"-->
